public-hoist-pattern[]=@typescript-eslint/*
public-hoist-pattern[]=ts-api-utils
public-hoist-pattern[]=semver
public-hoist-pattern[]=typescript-eslint
public-hoist-pattern[]=*eslint*
node-linker=hoisted
